{{! Maintainers - Daryl Hedley}}
{{! .article-container: Adapt will place the pages articles inside this class}}
<div class="page-inner article-container" role="main" aria-label="{{_globals._accessibility._ariaLabels.page}}">
    {{! Check if a page title exist and render it}}
    {{#if displayTitle}}
    <div class="page-title" role="heading">
        <div class="page-title-inner h1" tabindex="0" role="heading" aria-level="1">
            {{{displayTitle}}}
        </div>
    </div>
    {{/if}}
</div>
<!--added footer and font awesome icons-->
<div class="page-footer">
    <div class="left">
        <a href="http://www.instagram.com" style="text-decoration:none" target="_blank">
            <i class="fa fa-paper-plane"></i>
        </a> 
        <a href="mailto:learninghub@latitudefinancial.com?Subject=eLearning%20Course%20Query" target="_top"> Get in touch with the learning team!
        </a>
    </div>

    <div class="right">
        <a href="http://www.linkedin.com/company/4986164" style="text-decoration:none" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="http://www.linkedin.com/company/4986164" style="text-decoration:none" target="_blank">
            <i class="fa fa fa-youtube" aria-hidden="true"></i>
        </a>
        <a href="http://www.linkedin.com/company/4986164" style="text-decoration:none" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </div>
</div>